body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #f5f4f2;
    color: #b7b4ad;
}

ul {
    padding: 50px 0;
    margin: 0;
}

li {
    padding: 0;
    list-style: none;
    box-shadow: 2px 2px 4px 2px #ccc;
}

hr {
    color: #d9d8d4;
}

input {
    border-radius: 5px;
    /* line-height: 150%; */
    height: 24px;
    outline-style: none;
    border: 0px;
    border: 1px solid #ccc;
    /* padding: 14px 14px; */
    width: 100px;
    font-size: 14pt;
}

button {
    border-radius: 5px;
    height: 30px;
    border: 1px solid #ccc;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.title {
    margin-top: 60px;
}

.sub-title {
    padding: 20px 0;
}

.row-cols-3 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 60px;
    row-gap: 60px;
}

.row {
    padding: 0;
    margin: 50px 0;
}

.color {
    min-height: 300px;
}

.colorHex {
    background-color: white;
    padding: 20px 0;
    text-align: center;
    color: #b7b6b1;
}

.footer-title {
    margin: 100px 0 80px 0;
    text-align: center;
}